body{
    background: linear-gradient(90.4deg, rgb(255, 220, 163) 21.2%, rgb(129, 255, 239) 90.7%);
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container {
    max-width: 600px;
    background-color: rgba(245, 245, 219, 0.4);
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

p{
    text-align: justify;
    line-height: 1.5;
}

.grid {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

}

.grid img {
    width: 100%;
    border-radius: 8px;
}

.picOne {
    max-width: 100%;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.picOne:hover {
    filter: contrast(80%);
    transform: scale(1.05);
}
.picTwo {
    height: 195px;
}

button {
    display: block;
    margin: 0 auto;
    border: 1px solid;
    background: rgba(245, 245, 219, 0.8);
    border-radius: 3px;
    padding: 5px 10px;
    transition: all 150ms ease-in-out;
}
button:hover {
    background: linear-gradient(90.4deg, rgb(255, 220, 163) 21.2%, rgb(129, 255, 239) 90.7%);
    cursor: pointer;
}
.theme-button{
    font-size: 12px;
    background: black;
    color: white;
    padding: 5px 8px;
}
.theme-button:hover{
    color: black;
    background: white;
}
footer{
    text-align: center;
    margin: 10px 0;
    color: #00535C;
}
